{% extends 'base.html' %}

{# A useful pattern used here is to place "block title" inside "block header". 
   This will set the title block and then output the value of it into the header
   block, so that both the window and page share the same title without writing
   it twice.
#}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" class="credentials" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="credentials" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
